
.ContentContacts{
    margin-top: 30px;
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodyContacts{
    padding: 2%;
    display: flex;
    width: 40%;
    background-color: white;    
    justify-content: center;
   
}

.bodyContacts ul li{
    display: flex;
    justify-content: center;
    list-style-type: none;
margin: 20px 0;
letter-spacing: 3px;
align-items: center;
}
